name: Perform a Node Upgrade on an AKS cluster
on:
  workflow_dispatch:
    inputs:
      cluster_name:
        description: 'The name of the cluster to create - k8995b|f1dd32'
        required: true
        default: 'k8995b'
      mesh_type:
        description: 'Type of service mesh to include in the cluster - istio|osm'
        required: true
        default: 'istio'

jobs:
  upgrade-node:
    name: Update Cluster Node Image
    runs-on: ubuntu-latest

    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
      CLUSTER_RG:  AApps02_K8S_${{ github.event.inputs.cluster_name }}_RG
      CLUSTER_NAME: ${{ github.event.inputs.cluster_name }}
      
    defaults:
      run:
        working-directory: './infrastructure'

    steps:
    - name: Login to Azure
      run: |
        az login --identity -u ${{ env.ARM_CLIENT_ID }}

    - name: Upgrade default node images
      uses: Azure/cli@v1.0.0
      with:
        inlineScript: az aks nodepool upgrade -n default -g ${{ env.CLUSTER_RG }}  --cluster-name ${{ env.CLUSTER_NAME }} --node-image-only --max-surge 25% --yes 

    - name: Upgrade eshop node images
      uses: Azure/cli@v1.0.0
      with:
        inlineScript: az aks nodepool upgrade -n eshop -g ${{ env.CLUSTER_RG }} --cluster-name ${{ env.CLUSTER_NAME }} --node-image-only --max-surge 25% --yes